# Atelier Dashboard : Indicateur de Mobilité

Orange RDC via Flux Vision nous a fourni des données sur la mobilité de la population. Ces indicateurs de la mobilité sont produites sur base des données des détails des enregistrement des appels (CDR [Call Data Record] en anglais)

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl 
import seaborn as sns
# sns.set()
sns.set(context='notebook', style='darkgrid', palette='deep', font='sans-serif', font_scale=1.2, color_codes=True, rc=None)
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import geopandas as gpd
import geoplot as gpl
import json
import mapclassify


%matplotlib inline

In [3]:
# reading the csv file
df = pd.read_csv('../../data/export_csv/Flux_Nuit-Jour_CumulMois_Age.csv',sep = ';')
# Filter data with 3h of immobility and exclude `Hors_Zone`
#df = df[(df.Immobility == '3h') & (df.Origin != 'Hors_Zone') & (df.Destination != 'Hors_Zone')]
df

,Period,Day_type,NightZone,DayZone,Home_Category,Activity_Category,Age,Volume
0,202002,JO,Angumu,Angumu,Outside_Resident,Outside_Worker,18-24,309
1,202002,JO,Baka,Baka,Home_Activity_Zone_Resident,Home_Activity_Zone_Worker,18-24,242
2,202002,JO,Baka,Baka,Home_Activity_Zone_Resident,Home_Activity_Zone_Worker,25-34,473
3,202002,JO,Baka,Baka,Home_Activity_Zone_Resident,Home_Activity_Zone_Worker,35-44,140
4,202002,JO,Baka,Baka,Home_Activity_Zone_Resident,Home_Activity_Zone_Worker,45-54,126
...,...,...,...,...,...,...,...,...
92146,202101,WE,Yangala,Yangala,Home_Activity_Zone_Resident,Home_Activity_Zone_Worker,35-44,97
92147,202101,WE,Yangala,Yangala,Home_Activity_Zone_Resident,Home_Activity_Zone_Worker,45-54,21
92148,202101,WE,Yangala,Yangala,Home_Activity_Zone_Resident,Home_Activity_Zone_Worker,<18,53
92149,202101,WE,Zongo,Inconnue,Outside_Resident,Home_Zone_Worker,18-24,391
92150,202101,WE,Zongo,Inconnue,Outside_Resident,Home_Zone_Worker,<18,782